@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body {
    background:#ffeab9e8;
    margin:0;
    padding:0;
    font-family:sans-serif;
    font-size: 18px;
    line-height: 1.5;

}

header{
    padding: 70px;
    height: 630px;
}

.slogan {
    max-width: 100%;
    text-align: center;
    background:rgba(167, 231, 130, 0.836);
    font-size: 25px;
    color: #333;
    
}

.slogan ul li {
    list-style:none;
    display:inline;
    margin:0 40px;  
}

.slogan img{
    width: 550px;
    height: 550px;
}

ul li a{
    text-decoration:none;
    color:rgb(53, 28, 8);
    font-weight:bold;

}

a {
    text-decoration:none;
    color:rgb(53, 28, 8);
    font-weight:bold;
}

#frase{
    font-family: Chelsea Market, cursive;
    text-align: center;
    margin-bottom: 50px;
}

section{
    text-align: left;
}

#formDenuncia{
    background: lightcoral;
    padding:20px;
    border-radius:10px;
    text-align: left;;
}

form input, form select{
    width:95%;
    padding:10px;
    border:2px;
    border-radius:5px;
}

section{
    text-align:justify;
    max-width:800px;
    margin:auto;
    margin-bottom: 40px;
}

#missao{
    margin-top:40px;
    margin-bottom:40px;
}


h2{
    text-align: left;
    color: rgb(10, 107, 75);
    font-size:25px;
}

label{
    color:aliceblue;
    font-weight:bold;
}

#contato {
    text-align: center;
    text-decoration:none;
}

.contato{
    text-align: center;
}

form button{
    max-width: 200px;
    margin: 20px auto;
    display: block;
    padding:10px;
    border-radius:5px;
}

a button{
    background-color: rgb(158, 199, 163);
    max-width: auto;
    width: 60%;
    margin: 20px auto;
    display: block;
    padding:10px;
    border-radius:5px;
}

form select{
   width:98%;
}

form textarea{
    width:94%;
    padding:15px;
    border:2px;
    border-radius:5px;
}

#preview {
    display: none;
    margin-top: 10px;
}

#preview img {
    max-width: 150px;
    margin: 5px;
}

#reparos img{
    max-width:65%;
    display: block;;
    margin: 0 auto;
    border-radius:10px;
    
}

.grupo img{
    width: 670px;
    height: 600px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius:10px;
}

.grupo p{
    text-align: center;
    font-size: 18px;
}
